* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.logo > img {
  width: 50px;
  
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 9px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  color: #ddd;
}

.navbar a.active {
  background-color: #04AA6D;
  color: white;
}

.navbar .icon {
  display: none;
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px
*/

@media (min-width: 1025px) {

  
  /* CSS */
  .position{
    display: flex;
    justify-content: center;
    text-align:center;
    
  }
  .navbar{

    overflow: hidden;
    background-color: #333;
    margin-bottom: 10px;

  }
  .navbar a {
    float: right; display: flex;
    flex-direction: row-reverse;

  }
  .navbar a.icon {
    display: none;
  }
  

  .test{
    width: 70%;
    border: 1px solid rgb(173, 174, 179);
    margin-left: 10px;
  }
  .locatemain{
    display: flex;
    align-items: center;
  }
  .separate{
    margin-top: 10px;
  }
  .social{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-block-start: 0em;
    padding-left: 0;
    
  }
  .social_icon{
    
    list-style: none;
    flex-shrink: 0;

    }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
    .position{
      display: flex;
      justify-content: center;
      text-align:center;
      
    }
    .navbar{
  
      overflow: hidden;
      background-color: #333;
      margin-bottom: 10px;
    }
    .navbar a {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
    
  
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .test{
      width: 70%;
      border: 1px solid rgb(173, 174, 179);
    }
    .locatemain{
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .separate{
      margin-top: 10px;
    }
    .social{
      width: 70%;
      margin: auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-block-start: 0em;
      padding-left: 0;
      
    }
    .social_icon{
      
      list-style: none;
      flex-shrink: 0;
  
      }
  
}



/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  


  /* CSS */
  .position{
    display: flex;
    justify-content: center;
    text-align:center;
  }
  .navbar{

    overflow: hidden;
    background-color: #333;
    margin-bottom: 10px;
  }
  .navbar a {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
  

  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .test{
    border: 1px solid rgb(71, 73, 80);
  }
  .separate{
    margin-top: 10px;
  }
  .social{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-block-start: 0em;
    padding-left: 0;
    
  }
  .social_icon{
    
    list-style: none;
    flex-shrink: 0;

    }
  

}