
<%- include('../template/head')      -%>

<div id="welcome">
<h1>Welcome to the Ice Cream Shop</h1>

<img src = "https://static.turbosquid.com/Preview/2017/02/15__11_06_03/2.pngEE1C23C6-2483-409B-AD17-4A772BE5BC9AZoom.jpg" width="30%" />

<p></p>
<a href = "/all_icecreams">Our ice creams</a>


</div>
<%- include('../template/footer')-%>